html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.7;
    color: $primary-title-color;

    background-color: $primary-white-color;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

a {
    text-decoration: none;
    color: inherit;
}

address {
    font-style: inherit;
}

button {
    border: none;
    outline: none;
    background-color: none;
}

*:focus {
    outline: 1px solid $accent-color;
}